<section class="faq">
  <div class="container">
    <div class="page-content">
      <h3 class="title-page">{{ "faq" | translate }}</h3>

      <div class="faq-content">
        <!-- <div class="accordion" id="accordionExample">
          <div class="accordion-item" *ngFor="let item of faqsList.list">
            <h2
              class="accordion-header"
              [id]="item?.faqTranslations?.languageId"
            >
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
                [innerHTML]="item?.faqTranslations?.question"
              ></button>
            </h2>
            <div
              [id]="item?.faqTranslations?.languageId"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div
                class="accordion-body"
                [innerHTML]="item?.faqTranslations?.answer"
              ></div>
            </div>
          </div>
        </div> -->

        <ngb-accordion #acc="ngbAccordion" class="w-75 mb-5">
          <ngb-panel
            *ngFor="let item of faqsList.list; index as i"
            [title]="strip(item?.faqTranslations?.question)"
            [id]="'config-panel-one' + i"
          >
            <ng-template ngbPanelContent>
              {{ strip(item?.faqTranslations?.answer) }}
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
</section>
