<div class="top-score">
  <div class="container">
    <h3 class="title-page">{{ "topScore" | translate }}</h3>
    <div class="top-score_block">
      <div class="img-bg">
        <img src="../../../../assets/images/top-score-top.gif" />
      </div>
      <div class="top-score-block_img">
        <img src="../../../../assets/images/user-profile.jpg" />
      </div>
      <div class="top-score-block_info">
        <h4>Maria Lanter</h4>
        <h3>New High Score!</h3>
        <p>89</p>
      </div>
    </div>

    <div class="top-score_block">
      <h2>Best 3 Scores</h2>
      <div class="img-bg">
        <img src="../../../../assets/images/top-score-bottom.gif" />
      </div>
      <div class="row top-score_block_bottom justify-content-center">
        <div class="col-md-3">
          <img src="../../../../assets/images/user-profile.jpg" />
          <div class="top-score_block_bottom_info">
            <h4>Maria Lanter</h4>
            <p>89</p>
          </div>
        </div>

        <div class="col-md-3">
          <img src="../../../../assets/images/user-profile.jpg" />
          <div class="top-score_block_bottom_info">
            <h4>Maria Lanter</h4>
            <p>89</p>
          </div>
        </div>

        <div class="col-md-3">
          <img src="../../../../assets/images/user-profile.jpg" />
          <div class="top-score_block_bottom_info">
            <h4>Maria Lanter</h4>
            <p>89</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
