<div class="course">
  <img src="../../../../assets/images/placeholder.jpg" alt="" />
  <div class="course-info">
    <h4>Arbejdsmarked og digitalisering</h4>
    <h5>Duration: <b> 30 day </b></h5>
    <p>
      Du introduceres for det danske arbejdsmarked og lærer at navigere i
      relevante digitale
    </p>
  </div>
  <h5 class="course-remian">{{ "remaining" | translate }}: <b> 30 day </b></h5>
  <h5 class="course-status">Inprogress</h5>
  <div class="course-btn">
    <button class="apply">Start</button>
  </div>
</div>
