<div class="home-page">
  <div class="hero-img"></div>

  <div class="categories">
    <div class="container">
      <h3 class="title">{{ "ourOnlineCourses" | translate }}</h3>
      <p>
        Key features are the ability to develop relationships with their
        students, patient, caring, and<br />
        kind personality, knowledge of learners. Engaging students in learning.
      </p>
    </div>
  </div>

  <div class="all-courses" id="allCourses">
    <div class="container">
      <div class="row">
        <div
          class="col-md-6 col-lg-6 col-xl-3 col-sm-12"
          *ngFor="let course of coursesList"
        >
          <div
            class="search-results"
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()"
          >
            <app-course-card [courseData]="course"></app-course-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
