<div class="contact-us">
  <div class="container">
    <div class="page-content">
      <h3 class="title-page">{{ "ContactUs" | translate }}</h3>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="contact-us_info">
            <ul>
              <li><i class="bi bi-envelope-fill"></i>academy@khrs.dk</li>
              <li><i class="bi bi-telephone-fill"></i>+ 45 35 36 22 09</li>
              <li>
                <i class="bi bi-geo-alt-fill"></i>Vibevej 20, 3tv 2400 København
                NV
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="contact-us_form">
            <form>
              <div class="form-group">
                <label> Name: </label>
                <input type="text" class="form-control" />
              </div>

              <div class="form-group">
                <label> Phone: </label>
                <input type="text" class="form-control" />
              </div>

              <div class="form-group">
                <label> Email: </label>
                <input type="email" class="form-control" />
              </div>

              <div class="form-group">
                <label> Message: </label>
                <textarea rows="6" class="form-control"></textarea>
              </div>

              <div class="form-btn">
                <button>{{ "send" | translate }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
