  @import '../../../theme/scss/variables';
  @import '../../../theme/scss/button';
  @import '../../../theme/scss/base';

  .course {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;

    img {
      width: 100%;
      height: auto;
    }

    .course-info {
      margin-top: 20px;

      h4 {
        color: $second-color;
        font-family: $font-muli;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
      }

      h5 {
        color: #707070;
        font-family: $font-muli;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;


        b {
          color: #ACACAE;
        }

      }

      p {
        color: #707070;
        font-family: $font-muli;
        font-size: 18px;
        font-weight: 700;
        margin-top: 30px;
      }

    }
    .course-btn {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 20px auto;

      button.more {
        @include generalBtn($second-color, $second-color);
        text-align: center;
      }

      button.apply {
        @include generalBtn($btn-color, $btn-color);
        text-align: center
      }

    }
  }
