<div class="course" *ngIf="courseItem">
  <img [src]="courseItem.imagePath" alt="" />
  <div class="course-info">
    <h4>{{ courseItem.title }}</h4>
    <h5>
      Duration: <b> {{ courseItem.duration }} day </b>
    </h5>
    <p [innerHTML]="courseItem.shortDescription.slice(0, 100)"></p>
  </div>
  <div class="course-btn">
    <button class="more" routerLink="/course/course-details">
      {{ "knowMore" | translate }}
    </button>
    <button class="apply">{{ "start" | translate }}</button>
  </div>
</div>
