<div class="course">
  <img src="../../../../assets/images/placeholder.jpg" alt="" />
  <div class="course-info">
    <h4>Arbejdsmarked og digitalisering</h4>
    <h5>Duration: <b> 30 day </b></h5>
    <p>
      Du introduceres for det danske arbejdsmarked og lærer at navigere i
      relevante digitale
    </p>
  </div>
  <div class="course-btn">
    <button class="more" routerLink="/course/course-details">
      {{ "knowMore" | translate }}
    </button>
    <button class="apply">{{ "start" | translate }}</button>
  </div>
</div>
