<div class="home-page" *ngIf="homeData$ | async as homeData">
  <div class="hero-img">
    <div class="container">
      <div class="header-text">
        <h4>For a better future</h4>
        <h3>
          make the most of your <br />curiosity to learn about <br />
          the world
        </h3>
        <p>
          do you have appetite for knowledge ? are you looking <br />
          are you looking for an exeptional education ? <br />
          edumall might be the place for you
        </p>
        <button (click)="onClick('allCourses')">View Courses</button>
        <div class="icon-video" (click)="open(content)">
          <div class="video">
            <i class="bi bi-play-fill"></i>
          </div>
          <p>How it works</p>
          <!-- <img src="../../../../assets/images/flags & gif/Group 750.gif" /> -->
        </div>
      </div>
    </div>
  </div>
  <div class="services">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="img-container">
            <img
              src="../../../../assets/images/serv-img.png"
              loading="lazy"
              alt=""
            />
            <div class="img-gif">
              <img
                src="../../../../assets/images/https___lottiefiles.com_animations_rocket-qQFDXfKvbZ.gif"
              />
            </div>
          </div>
          <h3>High professional quality</h3>
          <p>
            Key features are the ability to develop relationships with their
            students, patient, caring, and kind personality, knowledge of
            learners. Engaging students in learning.
          </p>
        </div>

        <div class="col-md-4">
          <div class="img-container">
            <img
              src="../../../../assets/images/serv-img.png"
              loading="lazy"
              alt=""
            />
            <div class="img-gif">
              <img
                src="../../../../assets/images/https___lottiefiles.com_animations_global-blue-tech-remake-Q9GDC9eI9G.gif"
              />
            </div>
          </div>
          <h3>Large selection of courses</h3>
          <p>
            Explore a variety of fresh topics. Find the right instructor for
            you. Learnon your schedule.
          </p>
        </div>

        <div class="col-md-4">
          <div class="img-container">
            <img
              src="../../../../assets/images/serv-img.png"
              loading="lazy"
              alt=""
            />
            <div class="img-gif">
              <img
                src="../../../../assets/images/https___lottiefiles.com_animations_number-one-p4no5GxG73.gif"
              />
            </div>
          </div>
          <h3>Best & Most Involved earning</h3>
          <p>
            Key features are the ability to develop relationships with their
            students, patient, caring, and kind personality, knowledge of
            learners. Engaging students in learning.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="about-us">
    <div class="container">
      <div class="row">
        <div class="col-xl-7">
          <div class="about-page-img">
            <img
              src="../../../../assets/images/about-us-img.png"
              loading="lazy"
              alt=""
            />
            <div class="red-circle"></div>
            <div class="blue-circle"></div>
            <div class="trust-circle">
              <h3>Trusted By</h3>
              <p>86k+</p>
            </div>
          </div>
        </div>
        <div class="col-xl-5">
          <div class="about-us-info">
            <h4>About Us</h4>
            <h3>
              Learn a new skills,<br />
              Advance your career
            </h3>
            <p [innerHTML]="homeData.homeFrontAboutUsVm.shortDescription"></p>
            <div class="about-us-btn">
              <button routerLink="/about-us">View More</button>
              <button>For Organization</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="our-partners">
    <div class="container">
      <h3 class="title">{{ "ourPartners" | translate }}</h3>
      <p>
        Key features are the ability to develop relationships with their
        students, patient, caring, and<br />
        kind personality, knowledge of learners. Engaging students in learning.
      </p>
      <swiper [config]="config" class="main-swiper">
        <ng-template swiperSlide>
          <div class="swipper-slide">
            <img src="../../../../assets/images/logo-1.png" />
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="swipper-slide">
            <img src="../../../../assets/images/logo-2.png" />
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="swipper-slide">
            <img src="../../../../assets/images/logo-3.png" />
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>

  <div class="all-courses" id="allCourses">
    <div class="container">
      <h3 class="title">All Courses</h3>
      <div class="row">
        <div
          class="col-md-6 col-lg-6 col-xl-3 col-sm-12"
          *ngFor="let course of coursesList"
        >
          <app-course-card [courseData]="course"></app-course-card>
        </div>
      </div>
    </div>
  </div>

  <!-- reviews component -->
  <app-reviews-card></app-reviews-card>
  <!-- reviews component -->

  <!-- Modal Video -->

  <div class="modal-video">
    <ng-template #content let-modal>
      <div class="modal-body">
        <video controls>
          <source
            [src]="homeData.homeFrontApplicationIntroVm.introVideoUrl"
            type="video/mp4"
          />
        </video>
      </div>
    </ng-template>
  </div>

  <!-- Modal Video -->
</div>
