@import '../../../theme/scss/_variables';
@import '../../../theme/scss/button';
@import '../../../theme/scss/base';

.hero-img {
  background: url('../../../../assets/images/header-bg.png') no-repeat center center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 85vh;

   .header-text {
    padding-top: 150px;
    color: #fff;

    @media(max-width: 767px) {
      padding-top: 50px;
    }

    h4 {
      font-family: $font-muli;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 600;
      @media(max-width: 767px) {
        font-size: 18px;
      }
      &:before {
        @include  BeforeTitle
      }

    }

    h3 {
      font-family: $font-muli;
      font-size: 40px;
      text-transform: capitalize;
      font-weight: 900;
      margin: 25px 0;
      @media(max-width: 767px) {
        font-size: 30px;
      }
    }

    p {
      font-family: $font-muli;
      font-size: 18px;
      text-transform: capitalize;
      font-weight: 700;
      @media(max-width: 767px) {
        font-size: 16px;
      }
    }

    button {
      @include generalBtn($second-color)
      // all: unset;
      // background-color: $second-color;
      // padding: 10px 25px;
      // border-radius: 5px;
      // color: #fff;
      // font-size: 18px;
      // font-weight: 600;
      // margin-top: 15px;
    }

    .icon-video {
      display: flex;
      gap: 0 20px;
      align-items: center;
      align-content: center;
      margin-top: 40px;
      cursor: pointer;
      .video {
        background-color: $primary-color;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        text-align: center;
        animation: scaleItem 0.5s alternate infinite ease-in;


        i {
          font-size: 30px;
          color: #fff;
        }
      }
      p {
        color: #FFF;
        font-family: $font-muli;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 0;
      }
    }
  }
}

.services {
  background-color: $primary-color;
  padding: 50px 0;
  text-align: center;

  .img-container {
    position: relative;
    img {
      margin-bottom: 20px;
      z-index: 0;

    }
    .img-gif {
      z-index: 200000000;
      img {
        position: absolute;
        top: 27px;
        left: 41%;
        width: 78px;
        height: auto;
      }
    }
  }


  h3 {
    color: #FFF;
    font-family: $font-muli;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  p {
    color: #FFF;
    font-family: $font-muli;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    width: 80%;
    margin: auto;

    @media(max-width: 767px) {
      width: 100%;
    }

  }

}

.about-us {
  padding: 50px 0;
  .about-page-img {
    position: relative;
    width: 100%;
    img {
      width: 90%;
      height: auto;

      @media(max-width: 767px) {
        width: 100%;
        margin: auto;
      }
    }
    .red-circle {
      background-color: $second-color;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      bottom: 54%;
      right: 25%;
    }
    .blue-circle {
      background-color: #97B6D2;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      position: absolute;
      bottom: 72%;
      left: 23%;
    }

    .trust-circle {
      background-color: #fff;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      position: absolute;
      bottom: 13%;
      left: 23%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      align-content: center;

      h3 {
        color: #ACACAE;
        font-family: $font-muli;
        font-size: 16px;
        font-weight: 800;
        text-align: center;
      }
      p {
        color: #D7766F;
        font-family: $font-muli;
        font-size: 33px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
      }
    }
  }

  .about-us-info {
    margin-top: 200px;

    @media(min-width: 768px) and (max-width: 1199px) {
      margin-top: 0;
    }

    @media(max-width: 767px) {
      margin-top: 20px;
      text-align: center;
    }

    h4 {
      color: #D7766F;
      font-family: $font-muli;
      font-size: 22px;
      font-weight: 700;

      &::before {
        @include BeforeTitle
      }
    }

    h3 {
      color: #062F87;
      font-family: $font-muli;
      font-size: 45px;
      font-weight: 700;
      margin: 25px 0;
      @media(max-width: 767px) {
        font-size: 30px;
      }
    }

    p {
      color: #707070;
      font-family: $font-muli;
      font-size: 20px;
      font-weight: 300;
    }

  }

  .about-us-btn {
    display: flex;
    justify-content: center;
    gap: 0 20px;
    margin: 40px 0;

    button {
      @include generalBtn(#97B6D2);
    }
  }
}


.categories {
  margin: 50px 0;

  p {
    color: #707070;
    font-family: $font-muli;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }

}

.all-courses {
  margin: 150px 0;

  .course {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;

    img {
      width: 100%;
      height: auto;
    }

    .course-info {
      margin-top: 20px;

      h4 {
        color: $second-color;
        font-family: $font-muli;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 15px;
      }

      h5 {
        color: #707070;
        font-family: $font-muli;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;


        b {
          color: #ACACAE;
        }

      }

      p {
        color: #707070;
        font-family: $font-muli;
        font-size: 18px;
        font-weight: 700;
        margin-top: 30px;
      }

    }
    .course-btn {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: 20px auto;

      button.more {
        @include generalBtn($second-color);
        text-align: center;
      }

      button.apply {
        @include generalBtn(#97B6D2);
        text-align: center
      }

    }
  }
}

iframe {
  width: 100%;
  height: 600px;
}


// Animation
@keyframes scaleItem {
  from   {transform: scale(.8);}
  to {transform: scale(1.5);}
}
