<form class="profile-form">
  <div class="form-group">
    <label for="current"> {{ "currentPassword" | translate }} *</label>
    <input type="password" id="current" class="form-control" />
  </div>

  <div class="form-group">
    <label for="new"> {{ "newpassword" | translate }} * </label>
    <input type="password" id="new" class="form-control" />
  </div>

  <div class="form-group">
    <label> {{ "confirmPassword" | translate }} * </label>
    <input type="password" class="form-control" />
  </div>
  <div class="form-btn">
    <button>{{ "save" | translate }}</button>
  </div>
</form>
