<section class="profile-page">
  <div class="container">
    <div class="page-content">
      <h3 class="title-page">{{ "profile" | translate }}</h3>
      <div class="profile-img">
        <img
          src="../../../../assets/images/user-profile.jpg"
          alt="profile-name"
          class="profile-img_block"
        />
        <div class="img-edit">
          <img
            src="../../../../assets/images/profile-edit.gif"
            alt="profile-name"
          />
        </div>
      </div>

      <div class="profile-info">
        <ul>
          <li>{{ "firstname" | translate }} : kdi NC</li>
          <li>{{ "lastName" | translate }} : idji kc</li>
          <li>{{ "nickname" | translate }} :</li>
          <li>{{ "phone" | translate }} :</li>
          <li>{{ "email" | translate }} : gifji kn.j@hbnisn</li>
          <li>{{ "gender" | translate }} : female</li>
        </ul>
      </div>

      <div class="profile-btn">
        <button (click)="open(editProfile)">{{ "edit" | translate }}</button>
        <button (click)="open(resetPassword)">
          {{ "resetPassword" | translate }}
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Modal reset password -->
<ng-template #resetPassword let-modal>
  <div class="modal-body">
    <div class="container">
      <div class="form-img">
        <img src="../../../../assets/images/reset-password.gif" />
      </div>
      <div class="row">
        <div class="col-md-12">
          <app-reset-password></app-reset-password>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Modal reset password -->

<!-- Modal reset password -->
<ng-template #editProfile let-modal>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <app-edit-profile></app-edit-profile>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Modal reset password -->
