@import './variables';

@mixin generalBtn($bg-color, $hover-color) {
  all: unset;
  background-color: $bg-color;
  padding: 15px 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
  cursor: pointer;
  border: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: transparent;
    color: $hover-color;
    outline: 5px solid $hover-color;
  }
}
