<form class="profile-form">
  <div class="form-group">
    <label for="current"> {{ "firstname" | translate }} *</label>
    <input type="text" id="current" class="form-control" />
  </div>

  <div class="form-group">
    <label for="new"> {{ "lastName" | translate }} * </label>
    <input type="text" id="new" class="form-control" />
  </div>

  <div class="form-group">
    <label> {{ "nickname" | translate }} * </label>
    <input type="text" class="form-control" />
  </div>

  <div class="form-group">
    <label> {{ "phone" | translate }} * </label>
    <input type="text" class="form-control" />
  </div>

  <div class="form-group">
    <label> {{ "email" | translate }} * </label>
    <input type="text" class="form-control" />
  </div>

  <div class="form-group">
    <label> {{ "gender" | translate }} * </label>
    <input type="text" class="form-control" />
  </div>
  <div class="form-btn">
    <button>{{ "save" | translate }}</button>
  </div>
</form>
