@import '../../../theme/scss/variables';
@import '../../../theme/scss/button';
@import '../../../theme/scss/base';



.profile-form {
    padding: 50px;
    label {
    color: $primary-color;
    font-family: $font-muli;
    font-size: 22px;
    font-weight: 700;
    @media(max-width: 767px) {
      font-size: 16px;
    }
  }

  .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $primary-color;
    margin: 0 0 20px 0;
    border-radius: 0;
  }

  .form-btn {
    text-align: center;
    margin: 20px 0;
    button {
      @include generalBtn($btn-color, $btn-color);
      max-width: 100%;
      width: 30%;
    }
  }
}
