<footer>
  <div class="container">
    <hr />
    <div class="row">
      <div class="col-md-3 col-xs-6">
        <div class="contact-us" *ngIf="contactUsInfo$ | async as contactUsInfo">
          <img
            src="../../../../assets/images/Group 46.png"
            alt="logo-khrs"
            loading="lazy"
            class="footer-logo mb-3"
          />
          <ul>
            <li>
              <i class="bi bi-envelope-fill"></i>{{ contactUsInfo.email }}
            </li>
            <li>
              <i class="bi bi-telephone-fill"></i>
              {{ contactUsInfo.phoneNumber }}
            </li>
            <li class="footer-contact-info">
              <i class="bi bi-geo-alt-fill"></i>
              <div [innerHTML]="contactUsInfo.address"></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-xs-6">
        <div class="menu">
          <h3>{{ "info" | translate }}</h3>
          <ul>
            <li routerLink="/privacy">{{ "privacy-policy" | translate }}</li>
            <li routerLink="/faq">{{ "faq" | translate }}</li>
            <li routerLink="/contact-us">{{ "ContactUs" | translate }}</li>
            <li routerLink="/about-us">{{ "aboutUs" | translate }}</li>
          </ul>
        </div>
      </div>

      <div class="col-md-2 col-xs-6">
        <div class="menu">
          <h3>{{ "content" | translate }}</h3>
          <ul>
            <li routerLink="/my-courses">{{ "myCourses" | translate }}</li>
            <li>{{ "categories" | translate }}</li>
            <li>{{ "SuccessBoard" | translate }}</li>
            <li routerLink="/top-score">{{ "TopScore" | translate }}</li>
          </ul>
        </div>
      </div>

      <div class="col-md-5 col-xs-6 mt-3">
        <img
          src="../../../../assets/images/map.png"
          loading="lazy"
          alt="map-khrs"
        />
      </div>
    </div>
  </div>

  <div class="copyright text-center">
    <p>Copyright © 2023 by SDEX. All Rights Reserved.</p>
  </div>
</footer>
