<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-6">
        <div class="contact-us">
          <img
            src="../../../../assets/images/Group 46.png"
            alt="logo-khrs"
            loading="lazy"
            class="footer-logo mb-3"
          />
          <ul>
            <li><i class="bi bi-envelope-fill"></i>academy@khrs.dk</li>
            <li><i class="bi bi-telephone-fill"></i> + 45 35 36 22 09</li>
            <li>
              <i class="bi bi-geo-alt-fill"></i>Vibevej 20, 3tv <br />2400
              København NV
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-xs-6">
        <div class="menu">
          <h3>{{ "info" | translate }}</h3>
          <ul>
            <li>{{ "privacy-policy" | translate }}</li>
            <li>{{ "faq" | translate }}</li>
            <li>{{ "ContactUs" | translate }}</li>
            <li>{{ "aboutUs" | translate }}</li>
          </ul>
        </div>
      </div>

      <div class="col-md-2 col-xs-6">
        <div class="menu">
          <h3>{{ "content" | translate }}</h3>
          <ul>
            <li>{{ "myCourses" | translate }}</li>
            <li>{{ "categories" | translate }}</li>
            <li>{{ "SuccessBoard" | translate }}</li>
            <li>{{ "TopScore" | translate }}</li>
          </ul>
        </div>
      </div>

      <div class="col-md-5 col-xs-6 mt-3">
        <img
          src="../../../../assets/images/map.png"
          loading="lazy"
          alt="map-khrs"
        />
      </div>
    </div>
  </div>

  <div class="copyright text-center">
    <p>Copyright © 2023 by SDEX. All Rights Reserved.</p>
  </div>
</footer>
