@import '../../scss/_variables';

footer {
  margin-top: 80px;

  hr {
    margin: 3rem 0;
    border-top: 2px solid #062F87 !important;
  }

  img {
    width: 100%;
    height: auto;

    &.footer-logo {
      width: 50%;
      margin-bottom: 20px;

      // @media (max-width: 767px) {
      //   width: 100%;
      // }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    @media(max-width: 767px) {
      margin-bottom: 20px;
    }

    li {
      color: #707070;
      font-family: $font-muli;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      cursor: pointer;

      i {
        color: #97B6D2;
        margin-right: 10px;
        font-size: 16px;
      }
    }
  }

  h3 {
    color: #97B6D2;
    font-family: $font-muli;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
  }

  .copyright {
    margin-top: 40px;
    background-color: #fff;
    padding: 15px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      color: #707070;
      font-family: C$font-muli;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}


.footer-contact-info {
  display: flex;
  gap: 0 2px;
}
