<section class="about-us" *ngIf="aboutUsInfo$ | async as aboutUsInfo">
  <div class="container">
    <div class="about-us_top">
      <h3 class="title-page">{{ "aboutUs" | translate }}</h3>
      <div class="row">
        <div class="col-md-5">
          <div class="about-us-info">
            <h4>About Us</h4>
            <h3>
              Why You Choose Our<br />
              E-asy Online learning
            </h3>
            <p [innerHTML]="aboutUsInfo.content"></p>
            <ul>
              <li>Increasing Your Learning Skills</li>
              <li>High Quality Video & Audio Classes</li>
              <li>Finish Your Course, Get Certificate</li>
            </ul>
          </div>
        </div>
        <div class="col-md-7">
          <div class="about-page-img">
            <img
              src="../../../../assets/images/about-us-img.png"
              loading="lazy"
              alt=""
            />
            <div class="red-circle"></div>
            <div class="blue-circle"></div>
            <div class="trust-circle">
              <h3>Trusted By</h3>
              <p>86k+</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="services">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="img-container">
            <img
              src="../../../../assets/images/serv-img.png"
              loading="lazy"
              alt=""
            />
            <div class="img-gif">
              <img
                src="../../../../assets/images/https___lottiefiles.com_animations_rocket-qQFDXfKvbZ.gif"
              />
            </div>
          </div>
          <h3>High professional quality</h3>
          <p>
            Key features are the ability to develop relationships with their
            students, patient, caring, and kind personality, knowledge of
            learners. Engaging students in learning.
          </p>
        </div>

        <div class="col-md-4">
          <div class="img-container">
            <img
              src="../../../../assets/images/serv-img.png"
              loading="lazy"
              alt=""
            />
            <div class="img-gif">
              <img
                src="../../../../assets/images/https___lottiefiles.com_animations_global-blue-tech-remake-Q9GDC9eI9G.gif"
              />
            </div>
          </div>
          <h3>Large selection of courses</h3>
          <p>
            Explore a variety of fresh topics. Find the right instructor for
            you. Learnon your schedule.
          </p>
        </div>

        <div class="col-md-4">
          <div class="img-container">
            <img
              src="../../../../assets/images/serv-img.png"
              loading="lazy"
              alt=""
            />
            <div class="img-gif">
              <img
                src="../../../../assets/images/https___lottiefiles.com_animations_number-one-p4no5GxG73.gif"
              />
            </div>
          </div>
          <h3>Best & Most Involved earning</h3>
          <p>
            Key features are the ability to develop relationships with their
            students, patient, caring, and kind personality, knowledge of
            learners. Engaging students in learning.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="about-us_top">
      <h3 class="title-page">{{ "introVideo" | translate }}</h3>
      <div class="about-video">
        <video controls>
          <source
            [src]="aboutUsInfo.applicationIntroMediaUrl"
            type="video/mp4"
          />
        </video>
      </div>
    </div>
  </div>
</section>
