@import '../../../theme/scss/variables';
@import '../../../theme/scss/button';
@import '../../../theme/scss/base';

.about-us {
  margin: 100px 0;

  .about-us_top {
    background-color: #FBF8F3;
    border-radius: 20px;
    padding: 50px;
    border: 15px solid #fff;
    .about-page-img {
      position: relative;
      width: 100%;
      img {
        width: 100%;
        height: auto;

        @media(max-width: 767px) {
          width: 100%;
          margin: auto;
        }
      }
      .red-circle {
        background-color: $second-color;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        bottom: 54%;
        right: 17%;
      }
      .blue-circle {
        background-color: #97B6D2;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        position: absolute;
        bottom: 72%;
        left: 23%;
      }

      .trust-circle {
        background-color: #fff;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
        bottom: 13%;
        left: 23%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-content: center;

        h3 {
          color: #ACACAE;
          font-family: $font-muli;
          font-size: 16px;
          font-weight: 800;
          text-align: center;
        }
        p {
          color: #D7766F;
          font-family: $font-muli;
          font-size: 33px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-align: center;
        }
      }
    }

    .about-us-info {
      margin-top: 50px;

      @media(max-width: 767px) {
        margin-top: 20px;
        text-align: center;
      }

      h4 {
        color: $second-color;
        font-family: $font-muli;
        font-size: 17px;
        font-weight: 700;
        background-color: #fff;
        padding: 10px;
        width: 200px;
        text-align: center;

        @media(max-width: 767px) {
          margin: auto;
        }
      }

      h3 {
        color: $primary-color;
        font-family: $font-muli;
        font-size: 45px;
        font-weight: 700;
        margin: 25px 0;
      }

      p {
        color: #707070;
        font-family: $font-muli;
        font-size: 17px;
        font-weight: 300;
        margin: 50px 0 !important;
      }

          ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        color: $primary-color;
        font-family: $font-muli;
        font-size: 18px;
        font-weight: 700;
        background-color: #fff;
        line-height: 35px;
        margin-bottom: 15px;
        padding: 10px 0;

        &:before {
          content: "";
          background-color: rgba(36, 93, 81, 0.10);
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: inline-block;
          line-height: 30px;
          margin: 0 15px;
          position: relative;
          top: 10px;

        }
      }
    }

    }
  }

  .services {
  background-color: $primary-color;
  padding: 50px 0;
  text-align: center;

  .img-container {
    position: relative;
    img {
      margin-bottom: 20px;
      z-index: 0;

    }
    .img-gif {
      z-index: 200000000;
      img {
        position: absolute;
        top: 27px;
        left: 41%;
        width: 78px;
        height: auto;
      }
    }
  }


  h3 {
    color: #FFF;
    font-family: $font-muli;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  p {
    color: #FFF;
    font-family: $font-muli;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    width: 80%;
    margin: auto;

    @media(max-width: 767px) {
      width: 100%;
    }

  }

  }

}
