<div class="course-details">
  <div class="test-bg"></div>
  <div class="container">
    <div class="course-bg">
      <div class="course-header">
        <h3>Kommunikation og konflikthåndtering</h3>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="313"
          height="9"
          viewBox="0 0 313 9"
          fill="none"
        >
          <path
            d="M4 4.5H309"
            stroke="#707070"
            stroke-width="8"
            stroke-linecap="round"
          />
        </svg>
        <div class="video"><i class="bi bi-play-fill"></i></div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-7 col-sm-12">
          <div class="content-bg">
            <h5>Duration: 30 day</h5>
            <p>
              Kurset giver en introduktion til konflikter og hvorledes man via
              kommunikation kan håndtere disse i professionelle sammenhænge:
              Kursisten skal efter kursets afslutning selv være i stand til løse
              en given konflikt på den mest hensigtsmæssige måde for begge
              parter. Her er kommunikation et vigtigt redskab til at undgå
              konflikter. Det gælder både det verbale og det nonverbale. Selvom
              kurset er en teoretisk indføring i kommunikation og
              konflikthåndtering, gives der undervejs i kurset råd og
              vejledninger til hvad man selv kan gøre for at forhindre eller
              optrappe en konflikt.
            </p>
            <button>Apply</button>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-5 col-sm-12">
          <div class="course-details_img">
            <img
              src="../../../../assets/images/placeholder.jpg"
              alt=""
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
