<div class="course-details" *ngIf="courseDetails$ | async as courseDetails">
  <div class="test-bg"></div>
  <div class="container">
    <div class="course-bg">
      <div class="course-header">
        <h3>Kommunikation og konflikthåndtering</h3>
        <!-- <svg
          xmlns="http://www.w3.org/2000/svg"
          width="313"
          height="9"
          viewBox="0 0 313 9"
          fill="none"
        >
          <path
            d="M4 4.5H309"
            stroke="#707070"
            stroke-width="8"
            stroke-linecap="round"
          />
        </svg> -->
        <audio id="demo" [src]="courseDetails.audioPath"></audio>
        <!-- <audio controls>
          <source [src]="courseDetails.audioPath" type="audio/mpeg" />
        </audio> -->

        <div
          class="video"
          *ngIf="courseDetails.videoPath"
          (click)="open(content)"
        >
          <i class="bi bi-play-fill"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-6 col-xl-7 col-sm-12">
          <div class="content-bg">
            <h5>Duration: {{ courseDetails.duration }} day</h5>
            <p [innerHTML]="courseDetails.description"></p>
            <button>Apply</button>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-5 col-sm-12">
          <div class="course-details_img">
            <img [src]="courseDetails.imagePath" alt="" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Video -->

  <div class="modal-video">
    <ng-template #content let-modal>
      <div class="modal-body">
        <video controls>
          <source [src]="courseDetails.videoPath" type="video/mp4" />
        </video>
      </div>
    </ng-template>
  </div>

  <!-- Modal Video -->
</div>
