<div class="top-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-header_container">
          <ul class="user-profile">
            <li>{{ "signOut" | translate }}</li>
            <li class="logout">{{ "register" | translate }}</li>
          </ul>
          <ul class="social-media">
            <li><i class="bi bi-twitter"></i></li>
            <li><i class="bi bi-facebook"></i></li>
            <li><i class="bi bi-linkedin"></i></li>
            <li><i class="bi bi-instagram"></i></li>
            <li><i class="bi bi-envelope"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
