@import '../../../theme/scss/variables';

.top-header {
  background-color: $primary-color;
  text-align: right;

  .top-header_container {
    display: flex;
    align-items: center;
    gap: 10px 20px;
    justify-content: flex-end;
    @media(max-width: 767px) {
      justify-content: center;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 0 25px;
      @media(max-width: 425px) {
        gap: 0 13px;
      }

      &.social-media {
        li {
          color: #ACACAE;

          i {
            font-size: 20px;
            color: #ACACAE;
            cursor: pointer;
            @media(max-width: 425px) {
              font-size: 16px;
            }
          }
        }
      }

      &.user-profile {
        li {
          color: #fff;
          font-family: $font-muli;
          font-size: 16px;
          font-weight: 600;
          padding: 12px 20px;

          &.logout {
            background-color: $btn-color;
            padding: 12px 20px;
            font-weight: 600;
          }
        }
      }

    }
  }
}
