<div class="search">
  <div class="container">
    <h3><img src="../../../../assets/images/search.svg" />Search...</h3>
    <div class="search-form">
      <input type="text" placeholder="Search Course by Name, Category ..." />
    </div>

    <div class="search-courses">
      <div class="row">
        <div
          class="col-md-6 col-lg-6 col-xl-3 col-sm-12"
          *ngFor="let item of [1, 2, 3, 4, 5, 6]"
        >
          <app-course-card></app-course-card>
        </div>
      </div>
    </div>
  </div>
</div>
