@import '../../../theme/scss/_variables';
@import '../../../theme/scss/_base';

header {
  background-color: #fff;
  padding: 15px 0;

  .header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 15px 0;
    border-bottom: 1px solid #fff;

    .header-menu_logo {
      cursor: pointer;
    }

    .header-menu_nav {
      nav {
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          gap: 0 30px;

          li {
            color: $primary-color;
            font-family: $font-muli;
            font-size: 16px;
            font-weight: 700;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            &:hover {
              color: $second-color;
            }
          }
        }
      }
    }

    .header-menu_lang {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0 30px;

        @media(max-width: 400px) {
          gap: 0 10px
        }

        .user-profile {
          position: relative;
          cursor: pointer;
          .drop-down-menu {
            width: 200px;
            height: 200px;
            background-color: #fff;
            padding: 10px;
            border-radius: 16px;
            position: absolute;
            top: 80px;
            right: -70px;
            box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
            z-index: 20000;
            ul {
              list-style: none;
              padding: 0;
              margin: 0;

              li {
                font-size: 18px;
                font-weight: 700;
                font-family: $font-muli;
                text-align: center;
                line-height: 50px;
                cursor: pointer;
                border-bottom: 2px solid #000;
                &:last-child {
                  border: none;
                }
              }
            }
          }
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }

        .search {
          cursor: pointer;
          img {
            width: 30px;
            height: 30px;
          }
        }


        i {
          color: $primary-color;
        }

        img {
          width: 40px;
          height: 40px;
        }

      p {
        color: #FFF;
        font-family: $font-muli;
        font-size: 16px;
        font-weight: 700;
        position: relative;
        top: 10px;
        cursor: pointer;
      }

      .drop-down {
        width: 180px;
        height: auto;
        background-color: #fff;
        padding: 10px;
        border-radius: 16px;
        position: absolute;
        top: 80px;
        right: 0;
        box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
        z-index: 200000;

        .lang {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;

          img {
            width: 60px;
            height: 60px;
            cursor: pointer;
          }
        }
      }
    }
  }


}

.menu-icon-mobile {
  cursor: pointer;
  i {
    font-size: 40px;
    color: #000;
  }
}

.header-menu_nav_mobile {
  width: 80%;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 179px;
  left: 0;
  z-index: 2000000;
  transition: all 0.5s ease-in-out;


  ul {
    list-style: none;
    margin-top: 50px;

    li {
      font-size: 30px;
      line-height: 60px;
      color: $second-color;
      font-weight: 700;

    }
  }
}



@media(max-width: 991px) {
  .header-menu_nav {
    display: none;
  }
}

@media(min-width: 992px) {
  .menu-icon-mobile {
    display: none;
  }
  .header-menu_nav_mobile {
    display: none;
  }
}


.active {
  border-bottom: 2px solid $primary-color;
}
