@import '../../../theme/scss/_variables';
@import '../../../theme/scss/_base';

header {
  background-color: #fff;
  padding: 15px 0;

  .header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 15px 0;
    border-bottom: 1px solid #fff;

    .header-menu_nav {
      nav {
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          gap: 0 30px;

          li {
            color: $primary-color;
            font-family: $font-muli;
            font-size: 16px;
            font-weight: 700;
            cursor: pointer;
          }
        }
      }
    }

    .header-menu_lang {
        position: relative;

        i {
          color: $primary-color;
        }

        img {
          width: 40px;
          height: 40px;
        }

      p {
        color: #FFF;
        font-family: $font-muli;
        font-size: 16px;
        font-weight: 700;
        position: relative;
        top: 5px;
        cursor: pointer;
      }

      .drop-down {
        width: 180px;
        height: 150px;
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
        position: absolute;
        top: 80px;
        right: 0;

        .lang {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;

          img {
            width: 40px;
            height: 40px;
            cursor: pointer;
          }
        }
      }
    }
  }


}
