<app-top-header></app-top-header>
<header>
  <div class="container">
    <div class="header-menu">
      <div class="header-menu_logo">
        <img
          src="../../../../assets/images/Group 46.png"
          alt="logo"
          loading="lazy"
          routerLink=""
        />
      </div>

      <div class="header-menu_nav">
        <nav>
          <ul>
            <li routerLink="">{{ "home" | translate }}</li>
            <li>{{ "myCourses" | translate }}</li>
            <li routerLink="/online-courses">
              {{ "onlineCourses" | translate }}
            </li>
            <li>{{ "reviews" | translate }}</li>
            <li [routerLink]="['/about-us']">{{ "aboutUs" | translate }}</li>
            <li [routerLink]="['/contact-us']">
              {{ "ContactUs" | translate }}
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-menu_nav_mobile" *ngIf="menuToggle">
        <nav>
          <ul>
            <li (click)="closeMenuFN()" routerLink="">
              {{ "home" | translate }}
            </li>
            <li (click)="closeMenuFN()">{{ "myCourses" | translate }}</li>
            <li routerLink="/online-courses" (click)="closeMenuFN()">
              {{ "onlineCourses" | translate }}
            </li>
            <li>{{ "reviews" | translate }}</li>
            <li (click)="closeMenuFN()" [routerLink]="['/about-us']">
              {{ "aboutUs" | translate }}
            </li>
            <li (click)="closeMenuFN()" [routerLink]="['/contact-us']">
              {{ "ContactUs" | translate }}
            </li>
          </ul>
        </nav>
      </div>

      <div class="header-menu_lang">
        <p (click)="toggleMenuFN()">
          <img [src]="imgIcon" />
          <i class="bi bi-chevron-down"></i>
        </p>
        <div class="drop-down" *ngIf="toggleMenu">
          <div class="lang">
            <div *ngFor="let item of langArr">
              <img (click)="changeIconLang(item)" [src]="item" />
            </div>
          </div>
        </div>
      </div>
      <div class="menu-icon-mobile" (click)="menuToggleFN()">
        <i class="bi bi-list"></i>
      </div>
    </div>
  </div>
</header>
