<app-top-header></app-top-header>
<header>
  <div class="container">
    <div class="header-menu">
      <div class="header-menu_logo">
        <img
          src="../../../../assets/images/Group 46.png"
          alt="logo"
          loading="lazy"
          routerLink=""
        />
      </div>

      <div class="header-menu_nav">
        <nav>
          <ul>
            <li
              routerLink=""
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              {{ "home" | translate }}
            </li>
            <!-- <li
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              {{ "myCourses" | translate }}
            </li> -->
            <li
              routerLink="/online-courses"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              {{ "onlineCourses" | translate }}
            </li>
            <li
              routerLinkActive="active"
              routerLink="/reviews"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              {{ "reviews" | translate }}
            </li>
            <li
              routerLinkActive="active"
              [routerLink]="['/about-us']"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              {{ "aboutUs" | translate }}
            </li>
            <li
              routerLinkActive="active"
              [routerLink]="['/contact-us']"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              {{ "ContactUs" | translate }}
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-menu_nav_mobile" *ngIf="menuToggle">
        <nav>
          <ul>
            <li (click)="closeMenuFN()" routerLink="">
              {{ "home" | translate }}
            </li>
            <!-- <li (click)="closeMenuFN()">{{ "myCourses" | translate }}</li> -->
            <li routerLink="/online-courses" (click)="closeMenuFN()">
              {{ "onlineCourses" | translate }}
            </li>
            <li routerLink="/reviews" (click)="closeMenuFN()">
              {{ "reviews" | translate }}
            </li>
            <li (click)="closeMenuFN()" [routerLink]="['/about-us']">
              {{ "aboutUs" | translate }}
            </li>
            <li (click)="closeMenuFN()" [routerLink]="['/contact-us']">
              {{ "ContactUs" | translate }}
            </li>
          </ul>
        </nav>
      </div>

      <div class="header-menu_lang">
        <p (click)="toggleMenuFN()">
          <img [src]="imgIcon" />
          <i class="bi bi-chevron-down"></i>
        </p>
        <div class="drop-down" *ngIf="toggleMenu">
          <div class="lang">
            <div *ngFor="let item of langArr">
              <img (click)="changeIconLang(item)" [src]="item" />
            </div>
          </div>
        </div>
        <div class="user-profile">
          <img
            src="../../../../assets/images/user-profile.jpg"
            (click)="menuToggleProfileFN()"
          />
          <div class="drop-down-menu" *ngIf="menuToggleProfle">
            <ul>
              <li routerLink="/my-courses" (click)="closeMenuFN()">
                {{ "myCourses" | translate }}
              </li>
              <li routerLink="/profile" (click)="closeMenuFN()">
                {{ "profile" | translate }}
              </li>
              <li routerLink="/top-score" (click)="closeMenuFN()">
                {{ "topScore" | translate }}
              </li>
            </ul>
          </div>
        </div>
        <div class="search" routerLink="/search">
          <img src="../../../../assets/images/search.svg" />
        </div>
      </div>
      <div class="menu-icon-mobile" (click)="menuToggleFN()">
        <i class="bi bi-list"></i>
      </div>
    </div>
  </div>
</header>
