<app-top-header></app-top-header>
<header>
  <div class="container">
    <div class="header-menu">
      <div class="header-menu_logo">
        <img
          src="../../../../assets/images/Group 46.png"
          alt="logo"
          loading="lazy"
        />
      </div>

      <div class="header-menu_nav">
        <nav>
          <ul>
            <li routerLink="">{{ "home" | translate }}</li>
            <li>{{ "myCourses" | translate }}</li>
            <li>{{ "categories" | translate }}</li>
            <li>{{ "SuccessBoard" | translate }}</li>
            <li>{{ "TopScore" | translate }}</li>
            <li [routerLink]="['/about-us']">{{ "aboutUs" | translate }}</li>
            <li [routerLink]="['/contact-us']">
              {{ "ContactUs" | translate }}
            </li>
          </ul>
        </nav>
      </div>

      <div class="header-menu_lang">
        <p (click)="toggleMenuFN()">
          <img [src]="imgIcon" />
          <i class="bi bi-chevron-down"></i>
        </p>
        <div class="drop-down" *ngIf="toggleMenu">
          <div class="lang">
            <div *ngFor="let item of langArr">
              <img (click)="changeIconLang(item)" [src]="item" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
