<swiper [config]="config" class="main-swiper">
  <ng-template swiperSlide>
    <div class="cat swipper-slide">
      <div class="cat-img">
        <img src="../../../../assets/images/placeholder.jpg" />
      </div>
      <div class="cat-text">
        <h3>Intropakke</h3>
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="cat swipper-slide">
      <div class="cat-img">
        <img src="../../../../assets/images/placeholder.jpg" />
      </div>
      <div class="cat-text">
        <h3>Intropakke</h3>
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="cat swipper-slide">
      <div class="cat-img">
        <img src="../../../../assets/images/placeholder.jpg" />
      </div>
      <div class="cat-text">
        <h3>Intropakke Intropakke Intropakke</h3>
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="cat swipper-slide">
      <div class="cat-img">
        <img src="../../../../assets/images/placeholder.jpg" />
      </div>
      <div class="cat-text">
        <h3>Intropakke Intropakke Intropakke</h3>
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="cat swipper-slide">
      <div class="cat-img">
        <img src="../../../../assets/images/placeholder.jpg" />
      </div>
      <div class="cat-text">
        <h3>Intropakke Intropakke Intropakke</h3>
      </div>
    </div>
  </ng-template>
</swiper>
